.idea
.ipynb_checkpoints
venv
.pytest_cache
__pycache__
.mypy_cache
.venv
#*.csv
#dataset
eda.md
.DS_Store
__pycache__/
dist

/.quarto/
/_site/
catboost_info
outputs.*
outputs/
/summary.json
/conf_matrix.png
creds
src/lakefs/.lakectl.yaml
mlartifacts/
mlruns/
.hypothesis
*.parquet
